.Authorlist {
    font-family : Helvetica, Arial, sans-serif;
}

h2.AuthorlistHeadline {
    font-size : 16pt;
    border-bottom : 1px solid #ffcc99;
}

label.AuthorlistLabel {
    display : inline-block;
    width : 20%;
    font-weight : bold;
    font-size : 10pt;
}

input.AuthorlistInput {
    width : 30%;
    margin : 5px 0px;
}

button.AuthorlistButton {
    height : 22px;
    margin-left : 5px;
}

button.AuthorlistAdd {
    margin-left : 20px;
}

button.AuthorlistSave {
    margin-left : 0px;
    margin-right : 30px;
}

div.AuthorlistFootnote {
    font-size : 8pt;
    font-weight : bold;
}

span.AuthorlistFootnoteSymbol {
    display : inline-block;
    width : 20px;
}

div.AuthorlistDialog {
    font-size : 10pt !important;
}

div.AuthorlistDialog div.ui-dialog-content {
    margin-bottom : 13px;
}

div.AuthorlistDialog div.ui-dialog-buttonpane {
    padding : 5px 1em 3px 0px !important;
    margin : 0px !important;
}

div.AuthorlistDialog button {
    font-size : 8pt !important;
    padding : 0px !important;
    margin : 0px !important;
}

div.AuthorlistDialog .ui-icon {
    float : left;
}

span.ui-icon.ui-icon-alert {
    margin-right : 5px;
}

p.AuthorlistErrorTitle {
    font-weight : bold;
    margin-bottom : 13px;
}

p.AuthorlistBullet {
    margin : 5px 0px;
}

span.AuthorlistBulletText {
    display : block;
    padding : 0px 20px;
}

div.AuthorlistIndexPaper {
    margin-bottom : 10px;
    padding-bottom : 10px;
    border-bottom : 1px solid #FFCC99;
}

a.AuthorlistIndexPaperTitle {
    display : inline-block;
    color : #6699CC;
    margin-bottom : 3px;
}

a.AuthorlistIndexPaperTitle:hover {
    background-color : transparent;
}

span.AuthorlistIndexTimestamp {
    display : block;
    float : right;
    text-align : right;
    font-weight : bold;
    font-size : 8pt;
}

span.AuthorlistIndexURL {
    display : inline-block;
    color : #CC9966;
    font-size : 8pt;
    margin : 3px 0px;
}

span.AuthorlistIndexDetailLabel {
    display : inline-block;
    font-weight : bold;
    margin-right : 5px;
    font-size : 10pt;
}

span.AuthorlistIndexDetail {
    font-size : 10pt;
}

a.AuthorlistIndexEditLink {
    display : inline-block;
    color : #6699CC;
    font-size : 8pt;
    text-decoration : underline;
    margin-left : 5px;
}

a.AuthorlistIndexEditLink:hover {
    cursor : pointer;
    background-color : transparent;
}

span.AuthorlistIndexSeperator {
    position : relative;
    display : inline-block;
    top : -2px;
    width : 3px;
    height : 3px;
    background-color : #6699CC;
    margin-left : 5px;
}
