/*.SpreadSheet {
	font-family : 'Trebuchet MS', Helvetica, sans-serif;
	font-size : 9pt;
}

div.SpreadSheet.Edit {
	margin-left : auto;
	margin-right : auto;
	width: 50px;
}


input.SpreadSheet.Increment {
	width : 50px;
}

select.SpreadSheet {
	width : 100%;
	margin : 0px;
	border-color : #AFAFAF;
}

*/
div.dataTables_wrapper {
    min-height : 0px;
    height : auto;
    margin : 20px 0px;
}

div.ColVis {
	width : 15px;
}

table.SpreadSheet {
	border-spacing : 0px;
	border-collapse : collapse;
}

table.SpreadSheet td {
    padding : 0px !important;
}

table.Content {
    width : 100%;
    padding : 0px;
    border-spacing : 0px;
    border-collapse: collapse;
}

td.Extendable {
    width : 36px;
}

span.Extendable.ui-icon-plus {
    margin-left : 3px;
}

div.Content {

}

input.Text {
    width : 100%;
    margin : 0px;
    padding : 0px;
    text-align : right;
    border : 0px transparent;
}

input.Text.Readonly {
    background-color : transparent
}

div.Edit {
    height : 100%;
    width : 48px;
    margin : auto;
}

span.SpreadSheet.ui-icon {
    float : left;
}

span.SpreadSheet.Checkbox {
    float : none;
    display : block;
    margin : 0px auto;
}

.Focus {
    border : 1px dashed gray;
}
